#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#
# Reference: https://github.com/git/git/blob/master/.mailmap
#

Justin Yoo <justin.yoo@aliencube.com> <justin.yoo@aliencube.com>
Justin Yoo <justin.yoo@aliencube.com> <justin.yoojh@gmail.com>
Justin Yoo <justin.yoo@aliencube.com> <justin.yoojh@outlook.com>
