name: Release

on:
  push:
    branches:
    - release/*

jobs:
  build_test_package:
    name: Build, test, package and release
    strategy:
      matrix:
        os: [ 'windows-latest' ]
        node: [ 10 ]
        dotnet: [ '3.1.301' ]
        targetFramework: [ 'net461', 'netcoreapp3.1' ]
        runtime: [ 'win-x64', 'linux-x64', 'osx-x64' ]

    runs-on: ${{ matrix.os }}

    steps:
    # - name: Check event payload
    #   shell: pwsh
    #   run: |
    #     echo ${{ toJSON(github.event) }}

    - name: Set release module and version
      id: release
      shell: pwsh
      run: |
        $branch = "${{ github.event.ref }}" -replace "refs/heads/release/", ""
        $segments = $branch -split "-"
        $module = $segments[0]
        $version = $segments[1]

        # echo "::set-env name=RELEASE_MODULE::$module"
        # echo "::set-env name=RELEASE_VERSION::$version"

        echo "::set-output name=module::$module"
        echo "::set-output name=version::$version"

    # - name: Check release module and version
    #   shell: pwsh
    #   run: |
    #     # echo "env: $env:RELEASE_MODULE"
    #     # echo "env: $env:RELEASE_VERSION"

    #     echo "output: ${{ steps.release.outputs.module }}"
    #     echo "output: ${{ steps.release.outputs.version }}"

    - name: Checkout the repository
      uses: actions/checkout@v2

    # - name: Setup node.js
    #   uses: actions/setup-node@v1
    #   with:
    #     node-version: ${{ matrix.node }}

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.0

    - name: Restore NuGet packages
      shell: pwsh
      run: |
        dir
        dotnet restore .

    - name: Build solution
      shell: pwsh
      run: |
        dir
        msbuild . /p:Configuration=Release /p:Version=${{ steps.release.outputs.version }} /p:Verbosity=minimal

    - name: Test solution
      shell: pwsh
      run: |
        dir
        dotnet test . -c Release

    - name: Publish CLI for .NET Framework
      if: matrix.targetFramework == 'net461' && matrix.runtime == 'win-x64'
      shell: pwsh
      run: |
        dir
        dotnet publish ./src/Aliencube.AzureFunctions.Extensions.OpenApi.CLI -c Release -f ${{ matrix.targetFramework }} -r ${{ matrix.runtime }}

    - name: Publish CLI for .NET Core
      if: matrix.targetFramework == 'netcoreapp3.1'
      shell: pwsh
      run: |
        dir
        dotnet publish ./src/Aliencube.AzureFunctions.Extensions.OpenApi.CLI -c Release -f ${{ matrix.targetFramework }} -p:PublishSingleFile=true --self-contained true -r ${{ matrix.runtime }}

    - name: List Package for AppSettings
      if: steps.release.outputs.module == 'appsettings'
      shell: pwsh
      run: |
        $package = Get-ChildItem -Path ./src/*.AppSettings -Include *.nupkg -Recurse | Where-Object { $_.FullName -like "*${{ steps.release.outputs.version }}*" }
        $path = $package[0].FullName
        $name = $package[0].Name

        echo "::set-env name=PACKAGE_PATH::$path"
        echo "::set-env name=PACKAGE_NAME::$name"

    - name: List Package for Configuration.Json
      if: steps.release.outputs.module == 'configjson'
      shell: pwsh
      run: |
        $package = Get-ChildItem -Path ./src/*.Json -Include *.nupkg -Recurse | Where-Object { $_.FullName -like "*${{ steps.release.outputs.version }}*" }
        $path = $package[0].FullName
        $name = $package[0].Name

        echo "::set-env name=PACKAGE_PATH::$path"
        echo "::set-env name=PACKAGE_NAME::$name"

    - name: List Package for DependencyInjection
      if: steps.release.outputs.module == 'di'
      shell: pwsh
      run: |
        $package = Get-ChildItem -Path ./src/*.DependencyInjection -Include *.nupkg -Recurse | Where-Object { $_.FullName -like "*${{ steps.release.outputs.version }}*" }
        $path = $package[0].FullName
        $name = $package[0].Name

        echo "::set-env name=PACKAGE_PATH::$path"
        echo "::set-env name=PACKAGE_NAME::$name"

    - name: List Package for OpenApi
      if: steps.release.outputs.module == 'swagger'
      shell: pwsh
      run: |
        $package = Get-ChildItem -Path ./src/*.OpenApi -Include *.nupkg -Recurse | Where-Object { $_.FullName -like "*${{ steps.release.outputs.version }}*" }
        $path = $package[0].FullName
        $name = $package[0].Name

        echo "::set-env name=PACKAGE_PATH::$path"
        echo "::set-env name=PACKAGE_NAME::$name"

    - name: List Package for OpenApi.CLI
      if: steps.release.outputs.module == 'cli' && ((matrix.targetFramework == 'net461' && matrix.runtime == 'win-x64') || matrix.targetFramework == 'netcoreapp3.1')
      shell: pwsh
      run: |
        $sourcepath = "./src/*.OpenApi.CLI/bin/Release/${{ matrix.targetFramework }}/${{ matrix.runtime }}/publish"
        $targetpath = "./src/*.OpenApi.CLI/bin/Release/${{ matrix.targetFramework }}/azfuncopenapi-v${{ steps.release.outputs.version }}-${{ matrix.targetFramework }}-${{ matrix.runtime }}.zip"
        $package = Get-ChildItem -Path $sourcepath -Include *.* -Recurse | Compress-Archive -DestinationPath $targetpath
        $path = (Get-Item $targetpath).FullName
        $name = (Get-Item $targetpath).Name

        echo "::set-env name=PACKAGE_PATH::$path"
        echo "::set-env name=PACKAGE_NAME::$name"

    - name: Check release module and version
      shell: pwsh
      run: |
        echo "package-path: $env:PACKAGE_PATH"
        echo "package-name: $env:PACKAGE_NAME"

    # - name: Create Release to GitHub
    #   id: release
    #   uses: actions/create-release@v1
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     tag_name: ${{ github.event.ref }}
    #     release_name: Release ${{ github.event.ref }}
    #     draft: false
    #     prerelease: false

    # - name: Upload NuGet package to GitHub
    #   if: steps.release.outputs.module != 'cli'
    #   uses: actions/upload-release-asset@v1
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     upload_url: ${{ steps.release.outputs.upload_url }}
    #     asset_path: ${{ $PACKAGE_PATH }}
    #     asset_name: ${{ $PACKAGE_NAME }}
    #     asset_content_type: application/octet-stream

    # - name: Upload CLI to GitHub
    #   if: steps.release.outputs.module == 'cli'
    #   uses: actions/upload-release-asset@v1
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     upload_url: ${{ steps.release.outputs.upload_url }}
    #     asset_path: ${{ $PACKAGE_PATH }}
    #     asset_name: ${{ $PACKAGE_NAME }}
    #     asset_content_type: application/zip

    # - name: Release to NuGet
    #   if: steps.release.outputs.module != 'cli'
    #   shell: pwsh
    #   run: |
    #     dotnet nuget push $env:PACKAGE_PATH --source https://api.nuget.org/v3/index.json --apk-key ${{ secrets.NUGET_API_KEY }}

    # - name: Release to npm
    #   if: steps.release.outputs.module == 'cli'
    #   uses: JS-DevTools/npm-publish@v1
    #   with:
    #     token: ${{ secrets.NPM_TOKEN }}
    #     package: "./src/*.OpenApi.CLI/package.json"
